[submodule "submodules/CRoaring"]
	path = submodules/CRoaring
	url = https://github.com/datagramdb/CRoaring
[submodule "submodules/antlr4"]
	path = submodules/antlr4
	url = https://github.com/antlr/antlr4.git
[submodule "submodules/magic_enum"]
	path = submodules/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json
[submodule "submodules/rapidcsv"]
	path = submodules/rapidcsv
	url = https://github.com/d99kris/rapidcsv
[submodule "submodules/date"]
	path = submodules/date
	url = https://github.com/HowardHinnant/date
[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "submodules/l-bfgs-b"]
	path = submodules/l-bfgs-b
	url = https://github.com/LogDS/l-bfgs-b
