[submodule "submodules/date"]
	path = submodules/date
	url = https://github.com/HowardHinnant/date/
[submodule "submodules/antlr4"]
	path = submodules/antlr4
	url = https://github.com/antlr/antlr4/
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json/