[submodule "submodules/lbfgsb"]
	path = DT/submodules/lbfgsb
	url = https://github.com/droemer7/l-bfgs-b
[submodule "submodules/eigen"]
	path = DT/submodules/eigen
	url = https://gitlab.com/libeigen/eigen
