cmake-build-debug/
cmake-build-debug/*
dist/
dist/*
/cmake-build-debug-cygwin/
/cmake-build-debug-visual-studio/
/cmake-build-release-cygwin/
/cmake-build-release-visual-studio/
/KnoBABQuery.interp
/KnoBABQuery.tokens
/KnoBABQueryLexer.interp
/KnoBABQueryLexer.tokens
.idea
.idea/*
/cmake-build-release/
